
{% block content %}

<body class="text-center">
<main class="form-signin w-100 m-auto">
  <form method="POST" action="">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    {% for field in form %}
      {{field}}
    {% endfor %}
<!--    <div class="form-floating">-->
<!--      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--      <label for="floatingPassword">Password</label>-->
<!--    </div>-->

<!--    <div class="checkbox mb-3">-->
<!--      <label>-->
<!--        <input type="checkbox" value="remember-me"> Remember me-->
<!--      </label>-->
<!--    </div>-->

    <button class="w-100 btn btn-lg btn-primary" type="submit">Create User</button>
<!--    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>-->
  </form>
  <span>{{form.errors}}</span>
  <a href="../login">Login</a>
  <a href="#">Forgot Password</a>

</main>
  </body>

{% endblock %}