{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/contacts/all">Contacts</a></li>
    <li class="breadcrumb-item active" aria-current="page">View</li>
  </ol>
</nav>

<div class="card">
    <div class="card-header">{{object.title}}{{object.first_name}} {{object.last_name }}
        {% if object.favorite %}
        ★
        {% endif %}
    </div>
    <div class="card-body">
        <strong>Email:</strong> <a href="">{{object.email}}</a>
        <br><strong>Phone:</strong> <a href="">{{object.phone}}</a>
        {% if object.department %}
        <br> <strong> Department:</strong> {{object.department}}
        {% endif %}
        <br><strong>Description:</strong> {{object.description}}
    </div>
    <div class="card-footer">
        <a href="{{object.get_edit_url}}" class="btn btn-primary"> Edit </a>
        <a href="{{object.get_delete_url}}" class="btn btn-danger"> Delete </a>
    </div>

</div>

{% endblock %}